<div class="container py-5">
  <div class="row">
    <div class="col">
      <%= render "shared/error_messages", object: @user %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Roadev</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-8 order-2 order-md-1 pt-3 pt-md-0">
      <h3>Gain domain-specific expertise with skill tracks, a collection of learning paths curated by industry experts to help you grow your data skills and take your next big step.</h3>
      <p>Want to track your career? <%= link_to "Click here", sign_up_path, class: "link-primary" %></p>
      <ul>
        <li>
          <i class="bi bi-clock"></i>
          Learn at your own pace
        </li>
        <li>
          <i class="bi bi-bar-chart"></i>
          Get hands-on experience
        </li>
        <li>
          <i class="bi bi-trophy"></i>
          Master complementary skills</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 order-1 order-md-2 pt-3 pt-md-0">
      <div class="session-form rounded">
        <%= form_with(url: sign_up_path, model: @user, local: true) do |f| %>
          <h2 class="text-center">Create your free account to grow your data skills</h2>
          <div class="mb-3 row">
            <div class="col">
              <%= f.label :first_name, class: "form-label" %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
            <div class="col">
              <%= f.label :last_name, class: "form-label" %>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
            <div id="password-help" class="form-text">Minimum length is 8 characters.</div>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirmation", class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
            <div id="password-confirmation-help" class="form-text">Passwords need to match.</div>
          </div>
          <div class="mb-3">
            <%= f.submit "Sign up", class: "btn btn-lg btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
