<div class="container">
  <div class="row">
    <div class="col">
      <%= render "shared/error_messages", object: @user %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Roadev</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-8 order-2 order-md-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at autem ea eaque eum eveniet facilis labore laudantium molestias odit, quia, sapiente similique sint tempora velit! Commodi labore, nihil? Unde!</p>
      <ul>
        <li><a class="link-primary" href="#">Link</a></li>
        <li><a class="link-primary" href="#">Link</a></li>
        <li><a class="link-primary" href="#">Link</a></li>
        <li><a class="link-primary" href="#">Link</a></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at autem ea eaque eum eveniet facilis labore laudantium molestias odit, quia, sapiente similique sint tempora velit! Commodi labore, nihil? Unde!</p>
      <ul>
        <li><a class="link-primary" href="#">Link</a></li>
        <li><a class="link-primary" href="#">Link</a></li>
        <li><a class="link-primary" href="#">Link</a></li>
        <li><a class="link-primary" href="#">Link</a></li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 order-1 order-md-2">
      <div class="session-form rounded">
        <%= form_with(url: sign_up_path, model: @user, local: true) do |f| %>
          <h2 class="text-black text-center">Create your free account to grow your data skills</h2>
          <div class="mb-3 row">
            <div class="col">
              <%= f.label :first_name, class: "form-label" %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
            <div class="col">
              <%= f.label :last_name, class: "form-label" %>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
            <div id="password-help" class="form-text">Minimum length is 8 characters.</div>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirmation", class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
            <div id="password-confirmation-help" class="form-text">Passwords need to match.</div>
          </div>
          <div class="mb-3">
            <%= f.submit "Sign up", class: "btn btn-lg btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
