<div class="row">
  <div class="col">
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Admin:</strong>
      <%= @user.admin ? "Yes" : "No" %>
    </p>

    <%= link_to "Edit", edit_user_path(@user) %> |
    <%= link_to "Back", dashboard_path %>
  </div>
  <div class="col">
    <%= gravatar_for @user, size: 100 %>
  </div>
</div>
